

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');




body{
  font-family: "Montserrat", sans-serif;
  background-color: beige;
}

/******* Navbar ******/



/***** Menu Links ****/
nav a.nav-link {
  font-weight: 1000;
  border-spacing: 1pt;
  cursor: pointer;
  
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: orange !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

